
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navbar">
  <a routerLink="/dashboard">Dashboard</a> 
  <a routerLink="/rooms">Rooms</a> 
  
  <a routerLink="/stages">Stages</a>
  <a routerLink="/activity">Activities</a>
  <a href="#" onclick="loadPage('instruments')">Instruments</a>
</nav>
<router-outlet></router-outlet>
